* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --borderRadius: 5px;
  --minHeight: 100vh;
  --paddingValue: 15px;
  --royalBlue: #4169e1;
  --white: #fff;
}

.main-container {
  animation: showPage 2s ease;
  background-color: wheat;
  cursor: default;
  display: flex;
  flex-direction: column;
  min-height: var(--minHeight);
}

@keyframes showPage {
  0% {
    opacity: 0.7;
  }
}

.header {
  flex: 1;
}

.nav {
  background-image: linear-gradient(to bottom, royalblue, steelblue);
  color: var(--white);
  display: flex;
  flex-direction: column;
  font-size: large;
  gap: 10px;
  padding: 10px var(--paddingValue);
  width: 100%;
}

.nav-body {
  display: flex;
  flex-direction: column;
  gap: var(--borderRadius);
}

.main {
  display: flex;
  flex-wrap: wrap;
  flex: 2;
  gap: 20px;
  justify-content: center;
  min-height: var(--minHeight);
  padding: var(--paddingValue);
}

.card {
  background-color: var(--white);
  border-radius: var(--borderRadius);
  box-shadow: 0 2px 9px royalblue;
  display: flex;
  flex-direction: column;
  height: 500px;
  transition: all 0.4s ease;
  width: 300px;
}

.card:nth-child(even) {
  animation: showCardEven 3s ease;
}

@keyframes showCardEven {
  0% {
    transform: scale(0.5) rotate(30deg);
  }
}

.card:nth-child(odd) {
  animation: showCardOdd 3s ease;
}

@keyframes showCardOdd {
  0% {
    transform: scale(0.5) rotate(-30deg);
  }
}

.card div {
  border-radius: var(--borderRadius);
  height: 40%;
  width: 100%;
}

.card-body {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-between;
  padding: var(--paddingValue);
}

.card-body p {
  font-size: larger;
}

.card-btn {
  background-color: var(--royalBlue);
  border-radius: var(--borderRadius);
  border-style: none;
  color: var(--white);
  cursor: pointer;
  font-size: large;
  margin-right: auto;
  padding: 13px 30px;
  transition: all 0.4s ease-in-out;
}

.card-btn:hover {
  transform: scale(1.03);
}

.selected {
  background-color: red;
}
